## Import .tsv file

In [1]:
import pandas as pd
import numpy as np

path = r'C:\Users\italo\OneDrive\Desktop\ids_2020-05-01'

df = pd.read_csv(path + '.tsv', sep = '\t')
df.head()

              tweet_id             user_id
0  1256223753220034566  916540973190078465
1  1256223748904161280  697426379583983616
2  1256223744122593287          1277481013
3  1256223753463365632           596005899
4  1256223753115238406           139159502

## Create file .txt

In [2]:
df = df['tweet_id']
df.to_csv(path + 'tweet_ids0501.txt', header = False, index = False)

## Hidration

In [3]:
from twarc import Twarc
from itertools import islice

consumer_key = ''
consumer_secret = ''
access_token = ''
access_token_secret = ''

twarc = Twarc(consumer_key, consumer_secret, access_token, access_token_secret)

tweets_0501=[]
i = 0
for tweet in twarc.hydrate(open(r'C:\Users\italo\OneDrive\Desktop\ids_2020-05-01tweet_ids0501.txt')):
    tweets_0501.append(tweet)
    i += 1
    if i == 20000:
        break

## Tweets full data will be written in .json file

In [4]:
import json

f = open('tweets_0501.jsonl', 'w')

for tweet in tweets_0501:
    f.write(json.dumps(tweet) + '\n')
    
f.close()

In [5]:
import pymongo

# connection
client = pymongo.MongoClient('127.0.0.1', 27017)

#select the db by its name
db = client['covid-19']

#created or switched to collection names: tweets_sample
collection = db.tweets_0501

#bulk insertion of the data
res = collection.insert_many(tweets_0501)

#print out available databases names
client.list_database_names()

['admin', 'config', 'covid-19', 'local']

In [7]:
print("Number of tweets -> " , db.tweets_0501.count_documents({}))

Number of tweets ->  20000

In [8]:
print("Number of ITALIAN tweets -> " , db.tweets_0501.count_documents({ "lang" :
"it"}))

Number of ITALIAN tweets ->  257